<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="user">{{ user.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <ion-img src="/assets/shapes.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user">
      <ion-col>
        <h1 text-center>{{ user.email }}</h1>
        <h1 text-center>{{ user.description }}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>