<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="signup(form)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-img src="/assets/images/login.jpg"></ion-img>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <!-- <ion-input type="text" ngModel name="name" id="name" name #nameCtrl="ngModel"></ion-input> -->
              <ion-input type="text" name="name" ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" name="email" ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" name="password" ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm your password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <div margin-vertical>
            <ion-button type="submit" expand="block">
              SIGN UP
            </ion-button>
            <ion-button type="button" href="/login" expand="block" fill="clear" expand="block">
              LOG IN
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>